:host {
  --app-primary-color: var(--anypoint-color-steel5, #00A2DF);
  --app-secondary-color: black;
  --app-header-background-front-layer: yellow;

  display: block;
}

app-toolbar,
app-header {
  background-color:  var(--app-primary-color);
  color: #fff;
}

app-header paper-icon-button {
  --paper-icon-button-ink-color: white;
}

.loader {
  padding: 16px;
  @apply(--layout-vertical);
  @apply(--layout-center-center);
  @apply(--layout-fit);
  background-color: #fff;
  z-index: 2;
  margin-top: 64px;
  text-align: center;
  color: var(--anypoint-color-robustBlue3);
  @apply(--arc-font-body1);
}

*[hidden] {
  display: none !important;
}

paper-progress {
  display: block;
  width: 100%;
  --paper-progress-active-color: rgba(255, 255, 255, 0.5);
  --paper-progress-container-color: transparent;
}

iron-pages.main {
  height: 100%;
}

iron-pages.main > * {
  height: 100%;
}

.drawer-content-wrapper {
  height: calc(100% - 64px); /* 64px - toolbar height */
  overflow-y: auto;
}

.anypoint-right-side-bar {
  /* background: #3D3D3E; */
  min-height: 100px;
  width: 500px;
  /*color: #ffffff;*/
}


.anypoint-right-side-bar /deep/ .extension-banner,
.anypoint-right-side-bar /deep/ .extension-banner a{
  /*color: #ffffff;*/
}

.anypoint-right-side-bar /deep/ .unfocused-line,
.anypoint-right-side-bar /deep/ .focused-line {
  display: none;
}
.anypoint-right-side-bar /deep/ .input-content.label-is-highlighted ::content label{
  color: #58595A;
}
.anypoint-right-side-bar /deep/ raml-request-url-editor[focused] /deep/ .container{
  background: #ffffff;
  padding: 10px;
  border-left: 2px solid #58595A;
  border-right: 2px solid #58595A;
}

.anypoint-right-side-bar /deep/ .paper-input-input /deep/ .container{
  background: #ffffff;
  padding: 10px;
  border-left: 2px solid #CACBCC;
  border-right: 2px solid #CACBCC;
}
.anypoint-right-side-bar /deep/ paper-tab:focus {
  outline: none!important;
}
.anypoint-right-side-bar /deep/ paper-tabs + iron-pages {
  border-top: 3px solid rgba(39, 47, 51, 0.1);
  position: relative;
  top: -3px;
  z-index: 1;
}
